$body-bg: #F7F8FA;
$primary: #3D2DCB;
$primary-bg: #fff;
$link-color: #0d6efd;

@import "./bootstrap";
@import "flatpickr/dist/flatpickr.css";
@import 'swiper/swiper-bundle.css';

:root {
    --swiper-theme-color: #3d2dcb;
}

.osano-cm-widget {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    color: #3d2dcb;
}
