$body-bg: #F7F8FA;
$primary: #6922EA;
$primary-bg: #fff;
$link-color: #0d6efd;

@import "./bootstrap";
@import "flatpickr/dist/flatpickr.css";
@import 'swiper/swiper-bundle.css';

.cursor-pointer {
    cursor: pointer;
}

.btn-primary {
    color: $white;
    &:hover {
        color: $gray-200;
    }
}

.btn-researcher-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #255ED3;
    --bs-btn-border-color: #255ED3;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color(#255ED3, 10%)};
    --bs-btn-hover-border-color: #{shade-color(#255ED3, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color(#255ED3, 20%)};
    --bs-btn-active-border-color: #{shade-color(#255ED3, 20%)};
    --bs-btn-disabled-bg: #{shade-color(#DBDBDB, 10%)}
}

.btn-researcher-secondary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #255ED3;
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: #255ED3;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: #255ED3;
    --bs-btn-hover-bg: #{shade-color(#FFF, 10%)};
    --bs-btn-hover-border-color: #{shade-color(#255ED3, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color(#FFF, 20%)};
    --bs-btn-active-border-color: #{shade-color(#FFF, 20%)};
    --bs-btn-disabled-bg: #{shade-color(#DBDBDB, 10%)}
}
